<div class="modal">
  <div class="modal-header">
    <h1 class="dialog-title">Python Tools Preferences</h1>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <label>Python interpreter path</label>
      <input type="text" placeholder="/usr/bin/python3" id="pythonPath" required>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-80" id="cancel">
      Cancel
    </button>
    <button class="primary btn btn-80" id="ok">
      Save
    </button>
  </div>
</div>
