.python-tools-error p.description {
    font-size: 1.1em;
}
.python-tools-error code {
    font-size: 1em;
}
.python-tools-error pre {
    color: inherit;
    background-color: transparent;
}
.python-tools-settings input[type=text] {
    padding: 13px 10px;
    box-sizing: border-box;
}
.python-tools-settings .is-cleared-both {
    clear: both;
}
.python-tools-settings .is-floated-left {
    float: left;
}
.python-tools-settings .is-floated-right {
    float: right;
}
